body {background-color: #D2B48C; 
    color:#483307;
    font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	background-color: #8e8375;
    background-image: url(tausta.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 
h1 {color:#3e372d;
	font-size:25px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}
h3 {color:#3e372d;
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}
.kysymykset{
    text-align: center;
}
main {
    width: 90%;
    height: 600px;
      max-width:1000px;
      margin:auto;
      padding:5px;
      background-color: whitesmoke;  
      color: black;
    box-shadow: 10px 10px 10px black; 
}

.monivalinta{
    text-align: left;
    margin-left: 40%;
}
input[type=submit]:hover{
    cursor: pointer;  
}
input[type=reset]:hover{
    cursor: pointer;
}

